<div>
  <h2 id="page-heading" data-cy="PlaceHeading">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.home.title">Places</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-place"
        [routerLink]="['/place/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.home.createLabel"> Create a new Place </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="places?.length === 0">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.home.notFound">No Places found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="places && places.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numberOfSeats">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.numberOfSeats">Number Of Seats</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="shortName">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.shortName">Short Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="colorBackground">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.colorBackground">Color Background</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="colorText">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.colorText">Color Text</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="owner.name">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.testRootPlace.owner">Owner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let place of places; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/place', place.id, 'view']">{{ place.id }}</a>
          </td>
          <td>{{ place.name }}</td>
          <td>{{ place.numberOfSeats }}</td>
          <td>{{ place.shortName }}</td>
          <td>{{ place.colorBackground }}</td>
          <td>{{ place.colorText }}</td>
          <td>{{ place.description }}</td>
          <td>
            <div *ngIf="place.owner">
              <a [routerLink]="['/division', place.owner.id, 'view']">{{ place.owner.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/place', place.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/place', place.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(place)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="places && places.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
