<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity">
      <h2 data-cy="fieldTestServiceClassAndJpaFilteringEntityDetailsHeading">
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.detail.title"
          >Field Test Service Class And Jpa Filtering Entity</span
        >
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.id }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.stringBob">String Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.stringBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.stringRequiredBob"
            >String Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.stringRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.stringMinlengthBob"
            >String Minlength Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.stringMinlengthBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.stringMaxlengthBob"
            >String Maxlength Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.stringMaxlengthBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.stringPatternBob"
            >String Pattern Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.stringPatternBob }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.integerBob">Integer Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.integerBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.integerRequiredBob"
            >Integer Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.integerRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.integerMinBob">Integer Min Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.integerMinBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.integerMaxBob">Integer Max Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.integerMaxBob }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.longBob">Long Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.longBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.longRequiredBob"
            >Long Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.longRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.longMinBob">Long Min Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.longMinBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.longMaxBob">Long Max Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.longMaxBob }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.floatBob">Float Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.floatBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.floatRequiredBob"
            >Float Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.floatRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.floatMinBob">Float Min Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.floatMinBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.floatMaxBob">Float Max Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.floatMaxBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.doubleRequiredBob"
            >Double Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.doubleRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.doubleMinBob">Double Min Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.doubleMinBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.doubleMaxBob">Double Max Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.doubleMaxBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.bigDecimalRequiredBob"
            >Big Decimal Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.bigDecimalRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.bigDecimalMinBob"
            >Big Decimal Min Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.bigDecimalMinBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.bigDecimalMaxBob"
            >Big Decimal Max Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.bigDecimalMaxBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.localDateBob">Local Date Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.localDateBob | formatMediumDate }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.localDateRequiredBob"
            >Local Date Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.localDateRequiredBob | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.instantBob">Instant Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.instantBob | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.instanteRequiredBob"
            >Instante Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.instanteRequiredBob | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.zonedDateTimeBob"
            >Zoned Date Time Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.zonedDateTimeBob | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.zonedDateTimeRequiredBob"
            >Zoned Date Time Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.zonedDateTimeRequiredBob | formatMediumDatetime }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.durationBob">Duration Bob</span>
        </dt>
        <dd>
          <span
            >{{ fieldTestServiceClassAndJpaFilteringEntity.durationBob | duration }} ({{
              fieldTestServiceClassAndJpaFilteringEntity.durationBob
            }})</span
          >
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.durationRequiredBob"
            >Duration Required Bob</span
          >
        </dt>
        <dd>
          <span
            >{{ fieldTestServiceClassAndJpaFilteringEntity.durationRequiredBob | duration }} ({{
              fieldTestServiceClassAndJpaFilteringEntity.durationRequiredBob
            }})</span
          >
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.booleanBob">Boolean Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.booleanBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.booleanRequiredBob"
            >Boolean Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.booleanRequiredBob }}</span>
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.enumBob">Enum Bob</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sampleWebfluxMongodbOauth2App.EnumFieldClass.' + fieldTestServiceClassAndJpaFilteringEntity.enumBob }}">{{
            fieldTestServiceClassAndJpaFilteringEntity.enumBob
          }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.enumRequiredBob"
            >Enum Required Bob</span
          >
        </dt>
        <dd>
          <span
            jhiTranslate="{{
              'sampleWebfluxMongodbOauth2App.EnumRequiredFieldClass.' + fieldTestServiceClassAndJpaFilteringEntity.enumRequiredBob
            }}"
            >{{ fieldTestServiceClassAndJpaFilteringEntity.enumRequiredBob }}</span
          >
        </dd>
        <dt><span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.uuidBob">Uuid Bob</span></dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.uuidBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.uuidRequiredBob"
            >Uuid Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.uuidRequiredBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteImageBob">Byte Image Bob</span>
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteImageBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageBobContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageBobContentType +
                  ';base64,' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageBob
                "
                style="max-width: 100%"
                alt="fieldTestServiceClassAndJpaFilteringEntity image"
              />
            </a>
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteImageBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteImageBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBob"
            >Byte Image Required Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBobContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBobContentType +
                  ';base64,' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBob
                "
                style="max-width: 100%"
                alt="fieldTestServiceClassAndJpaFilteringEntity image"
              />
            </a>
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteImageRequiredBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBob"
            >Byte Image Minbytes Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBobContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBobContentType +
                  ';base64,' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBob
                "
                style="max-width: 100%"
                alt="fieldTestServiceClassAndJpaFilteringEntity image"
              />
            </a>
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteImageMinbytesBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBob"
            >Byte Image Maxbytes Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBobContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBobContentType +
                  ';base64,' +
                  fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBob
                "
                style="max-width: 100%"
                alt="fieldTestServiceClassAndJpaFilteringEntity image"
              />
            </a>
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteImageMaxbytesBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteAnyBob">Byte Any Bob</span>
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteAnyBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyBobContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteAnyBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteAnyBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBob"
            >Byte Any Required Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBobContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteAnyRequiredBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBob"
            >Byte Any Minbytes Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBobContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteAnyMinbytesBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBob"
            >Byte Any Maxbytes Bob</span
          >
        </dt>
        <dd>
          <div *ngIf="fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBob">
            <a
              (click)="
                openFile(
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBob,
                  fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBobContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            {{ fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBobContentType }},
            {{ byteSize(fieldTestServiceClassAndJpaFilteringEntity.byteAnyMaxbytesBob) }}
          </div>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteTextBob">Byte Text Bob</span>
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.byteTextBob }}</span>
        </dd>
        <dt>
          <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestServiceClassAndJpaFilteringEntity.byteTextRequiredBob"
            >Byte Text Required Bob</span
          >
        </dt>
        <dd>
          <span>{{ fieldTestServiceClassAndJpaFilteringEntity.byteTextRequiredBob }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/field-test-service-class-and-jpa-filtering-entity', fieldTestServiceClassAndJpaFilteringEntity.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
