<div>
  <h2 id="page-heading" data-cy="EntityWithServiceImplAndDTOHeading">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.entityWithServiceImplAndDTO.home.title">Entity With Service Impl And DTOS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.entityWithServiceImplAndDTO.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entity-with-service-impl-and-dto"
        [routerLink]="['/entity-with-service-impl-and-dto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.entityWithServiceImplAndDTO.home.createLabel">
          Create a new Entity With Service Impl And DTO
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entityWithServiceImplAndDTOS?.length === 0">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.entityWithServiceImplAndDTO.home.notFound"
      >No Entity With Service Impl And DTOS found</span
    >
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="entityWithServiceImplAndDTOS && entityWithServiceImplAndDTOS.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="louis">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.entityWithServiceImplAndDTO.louis">Louis</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entityWithServiceImplAndDTO of entityWithServiceImplAndDTOS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entity-with-service-impl-and-dto', entityWithServiceImplAndDTO.id, 'view']">{{
              entityWithServiceImplAndDTO.id
            }}</a>
          </td>
          <td>{{ entityWithServiceImplAndDTO.louis }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entity-with-service-impl-and-dto', entityWithServiceImplAndDTO.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entity-with-service-impl-and-dto', entityWithServiceImplAndDTO.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(entityWithServiceImplAndDTO)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
