<div>
  <h2 id="page-heading" data-cy="FieldTestMapstructAndServiceClassEntityHeading">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.home.title"
      >Field Test Mapstruct And Service Class Entities</span
    >

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-field-test-mapstruct-and-service-class-entity"
        [routerLink]="['/field-test-mapstruct-and-service-class-entity/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.home.createLabel">
          Create a new Field Test Mapstruct And Service Class Entity
        </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="fieldTestMapstructAndServiceClassEntities?.length === 0">
    <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.home.notFound"
      >No Field Test Mapstruct And Service Class Entities found</span
    >
  </div>

  <div
    class="table-responsive table-entities"
    id="entities"
    *ngIf="fieldTestMapstructAndServiceClassEntities && fieldTestMapstructAndServiceClassEntities.length > 0"
  >
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stringEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.stringEva">String Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stringRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.stringRequiredEva"
                >String Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stringMinlengthEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.stringMinlengthEva"
                >String Minlength Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stringMaxlengthEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.stringMaxlengthEva"
                >String Maxlength Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stringPatternEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.stringPatternEva"
                >String Pattern Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="integerEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.integerEva">Integer Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="integerRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.integerRequiredEva"
                >Integer Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="integerMinEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.integerMinEva"
                >Integer Min Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="integerMaxEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.integerMaxEva"
                >Integer Max Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.longEva">Long Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.longRequiredEva"
                >Long Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longMinEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.longMinEva">Long Min Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longMaxEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.longMaxEva">Long Max Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="floatEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.floatEva">Float Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="floatRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.floatRequiredEva"
                >Float Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="floatMinEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.floatMinEva">Float Min Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="floatMaxEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.floatMaxEva">Float Max Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="doubleRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.doubleRequiredEva"
                >Double Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="doubleMinEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.doubleMinEva">Double Min Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="doubleMaxEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.doubleMaxEva">Double Max Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bigDecimalRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.bigDecimalRequiredEva"
                >Big Decimal Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bigDecimalMinEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.bigDecimalMinEva"
                >Big Decimal Min Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bigDecimalMaxEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.bigDecimalMaxEva"
                >Big Decimal Max Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localDateEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.localDateEva">Local Date Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="localDateRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.localDateRequiredEva"
                >Local Date Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instantEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.instantEva">Instant Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="instanteRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.instanteRequiredEva"
                >Instante Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zonedDateTimeEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.zonedDateTimeEva"
                >Zoned Date Time Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zonedDateTimeRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.zonedDateTimeRequiredEva"
                >Zoned Date Time Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="durationEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.durationEva">Duration Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="durationRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.durationRequiredEva"
                >Duration Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="booleanEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.booleanEva">Boolean Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="booleanRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.booleanRequiredEva"
                >Boolean Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="enumEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.enumEva">Enum Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="enumRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.enumRequiredEva"
                >Enum Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uuidEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.uuidEva">Uuid Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="uuidRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.uuidRequiredEva"
                >Uuid Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteImageEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteImageEva">Byte Image Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteImageRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva"
                >Byte Image Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteImageMinbytesEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva"
                >Byte Image Minbytes Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteImageMaxbytesEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva"
                >Byte Image Maxbytes Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteAnyEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteAnyEva">Byte Any Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteAnyRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEva"
                >Byte Any Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteAnyMinbytesEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEva"
                >Byte Any Minbytes Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteAnyMaxbytesEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEva"
                >Byte Any Maxbytes Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteTextEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteTextEva">Byte Text Eva</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="byteTextRequiredEva">
            <div class="d-flex">
              <span jhiTranslate="sampleWebfluxMongodbOauth2App.fieldTestMapstructAndServiceClassEntity.byteTextRequiredEva"
                >Byte Text Required Eva</span
              >
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let fieldTestMapstructAndServiceClassEntity of fieldTestMapstructAndServiceClassEntities; trackBy: trackId"
          data-cy="entityTable"
        >
          <td>
            <a [routerLink]="['/field-test-mapstruct-and-service-class-entity', fieldTestMapstructAndServiceClassEntity.id, 'view']">{{
              fieldTestMapstructAndServiceClassEntity.id
            }}</a>
          </td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.stringEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.stringRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.stringMinlengthEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.stringMaxlengthEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.stringPatternEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.integerEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.integerRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.integerMinEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.integerMaxEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.longEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.longRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.longMinEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.longMaxEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.floatEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.floatRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.floatMinEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.floatMaxEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.doubleRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.doubleMinEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.doubleMaxEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.bigDecimalRequiredEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.bigDecimalMinEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.bigDecimalMaxEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.localDateEva | formatMediumDate }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.localDateRequiredEva | formatMediumDate }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.instantEva | formatMediumDatetime }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.instanteRequiredEva | formatMediumDatetime }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.zonedDateTimeEva | formatMediumDatetime }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.zonedDateTimeRequiredEva | formatMediumDatetime }}</td>
          <td title="{{ fieldTestMapstructAndServiceClassEntity.durationEva }}">
            {{ fieldTestMapstructAndServiceClassEntity.durationEva | duration }}
          </td>
          <td title="{{ fieldTestMapstructAndServiceClassEntity.durationRequiredEva }}">
            {{ fieldTestMapstructAndServiceClassEntity.durationRequiredEva | duration }}
          </td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.booleanEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.booleanRequiredEva }}</td>
          <td jhiTranslate="{{ 'sampleWebfluxMongodbOauth2App.EnumFieldClass.' + fieldTestMapstructAndServiceClassEntity.enumEva }}">
            {{ fieldTestMapstructAndServiceClassEntity.enumEva }}
          </td>
          <td
            jhiTranslate="{{
              'sampleWebfluxMongodbOauth2App.EnumRequiredFieldClass.' + fieldTestMapstructAndServiceClassEntity.enumRequiredEva
            }}"
          >
            {{ fieldTestMapstructAndServiceClassEntity.enumRequiredEva }}
          </td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.uuidEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.uuidRequiredEva }}</td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteImageEva,
                  fieldTestMapstructAndServiceClassEntity.byteImageEvaContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestMapstructAndServiceClassEntity.byteImageEvaContentType +
                  ';base64,' +
                  fieldTestMapstructAndServiceClassEntity.byteImageEva
                "
                style="max-height: 30px"
                alt="fieldTestMapstructAndServiceClassEntity image"
              />
            </a>
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteImageEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteImageEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva,
                  fieldTestMapstructAndServiceClassEntity.byteImageRequiredEvaContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestMapstructAndServiceClassEntity.byteImageRequiredEvaContentType +
                  ';base64,' +
                  fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva
                "
                style="max-height: 30px"
                alt="fieldTestMapstructAndServiceClassEntity image"
              />
            </a>
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteImageRequiredEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteImageRequiredEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva,
                  fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEvaContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEvaContentType +
                  ';base64,' +
                  fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva
                "
                style="max-height: 30px"
                alt="fieldTestMapstructAndServiceClassEntity image"
              />
            </a>
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteImageMinbytesEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva,
                  fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEvaContentType
                )
              "
            >
              <img
                [src]="
                  'data:' +
                  fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEvaContentType +
                  ';base64,' +
                  fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva
                "
                style="max-height: 30px"
                alt="fieldTestMapstructAndServiceClassEntity image"
              />
            </a>
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteImageMaxbytesEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyEva"
              (click)="
                openFile(fieldTestMapstructAndServiceClassEntity.byteAnyEva, fieldTestMapstructAndServiceClassEntity.byteAnyEvaContentType)
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteAnyEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteAnyEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEva,
                  fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEvaContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteAnyRequiredEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEva,
                  fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEvaContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteAnyMinbytesEva) }}</span
            >
          </td>
          <td>
            <a
              *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEva"
              (click)="
                openFile(
                  fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEva,
                  fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEvaContentType
                )
              "
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEva"
              >{{ fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEvaContentType }},
              {{ byteSize(fieldTestMapstructAndServiceClassEntity.byteAnyMaxbytesEva) }}</span
            >
          </td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.byteTextEva }}</td>
          <td>{{ fieldTestMapstructAndServiceClassEntity.byteTextRequiredEva }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/field-test-mapstruct-and-service-class-entity', fieldTestMapstructAndServiceClassEntity.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/field-test-mapstruct-and-service-class-entity', fieldTestMapstructAndServiceClassEntity.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(fieldTestMapstructAndServiceClassEntity)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
